h6, p, small{
	color: white;
}
h6, p{
	margin: 0;
}

.list-group-item img{
	height: 50px;
	margin-right: 10px;
}

.list-group-item{
	max-height: 70px;
}

header{
	border: 1px solid;
	background-color: rgb(0,0,0,0.9);
	min-height: 60px;
}

header img{
	height: 50px;
	margin-left: 16px;
	margin-right: 10px;
}


main section{
	height: calc(100vh - 125px);
	background-color: #e5ddd5;
}

footer{
	min-height: 65px;
	background-color: rgb(0,0,0,0.9);
}

.divider{
	min-height: 40px;
	background-color: #464e56;
}

.panel-msg{
	height: calc(100vh-60px-40px);
	background-color: #424951;
}


#rapha-img{
	border-radius: 25px;
}

.bg-panel{
	height: calc(100vh - 60px - 40px - 70px - 70px);
}

input[type=text]{
	border-radius: 130px;
	outline: 0;
	border: 0;
	width: 80%;
	padding: .7rem;
}

/* icons */

.smiley{
	width: 2rem;
}